// this file is for over writing the theme properties of the default servoy properties file.
@import 'servoy_theme.less?version=2022.3.0';

/* START General */

@main-color: #5EAEAE; // default:#E9720B

@secondary-color: #FFFFFF; // default:#18222C

@secondary-color-inverse: #000000; // default:#FFF

@font-family: Karla, Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif; // default:"Helvetica Neue", Helvetica, Arial, sans-serif

@text-color: black; // default:#777777

@field-border-radius: 5px; // default:2px
/* START Sidenav */

@sidenav-color: @main-color-light; // default:@secondary-color

@sidenav-text-color: @main-color-inverse; // default:@secondary-color-inverse

@sidenav-border-width: 0px; // default:1px

@sidenav-border-color: @main-color; // default:@border-color

@sidenav-selected-color: @main-color; // default:@secondary-color-light

@sidenav-selected-border-color: none; // default:@main-color
/* START Navbar */

@navbar-bg: @secondary-color; // default:@main-color

@navbar-bg-highlighted: @secondary-color-dark; // default:@main-color-dark
/* START Tabs */
/* START Windows */
/* START Dialogs */
/* START Tables */
/* START Breadcrumb specific style */
/* START Brand colors */
/* START Validations */
/* START Margins and Padding */