// import of the custom servoy theme properties that will import the hidden servoy theme, this imported file is for customizing the default servoy theme properties 
@import 'custom_servoy_theme_properties_ng2.less';

// Add your custom less/css to this file you can use the same less properties that are specified in the above properties.less

/* .ag-side-buttons {
	display:none;
}

.ag-body{
	overflow-x:hidden;
}

.title {
	font-weight: bold;
	font-size:25px;
	text-align:center!important;
	padding-left:10px;
	background: #4880FF;
	color:white;	
} 

.btn {
	border: none;
	background:white;
	color:black;
	font-weight:bold;
	border-radius:3px;
	box-shadow: 2px 1px 4px 1px gray;
	border-bottom: 2px solid white;
}

.chart {
	border: 2px solid lightgray;
	border-radius:3px;
}

.searchbox {
	border: none;
	background:white;
	color:black;
	font-weight:bold;
	border-radius:5px;
	box-shadow: 2px 1px 4px 1px gray;
	border-bottom: 2px solid gray;
} */