// import of the custom servoy theme properties that will import the hidden servoy theme, this imported file is for customizing the default servoy theme properties 
@import 'custom_servoy_theme_properties.less';

.svy-sidenav-left .svy-sidenav-action-open {
    left: -7px;
    position: relative;
}

.bts-button  {
	background:@main-color;
	color:@main-color-inverse;
	border-radius:10px;
	/* box-shadow: 2px 1px 4px 1px gray; */
}

.bts-button:hover{
	background:@main-color-light;
	color:@main-color-inverse;
	border-radius:10px;
}

.ag-side-buttons {
	display:none;
}

.ag-body{
	overflow-x:hidden;
}

.svy-sidenav-left .svy-sidenav-action-open{
	display:none;
}

.form-control,
.bts-combobox {
	border-radius:10px!important;
}

.header-title {
	color:@main-color-inverse;
}

data-googlemaps-svy-g-maps {
	border:1px solid gray;
	border-radius:5px;
}

.gmnoprint, [aria-label="Toggle fullscreen view"] {
	display: none;
} 